WIFI_SSID=Wokwi-GUEST
WIFI_PASSWORD=

MQTT_SERVER=192.168.0.106
MQTT_PORT=1883
MQTT_TOPIC_ROOT=security
MQTT_USERNAME=security-room
MQTT_PASSWORD=qwerty123

DEVICE_TYPE=esp32_security_node
DEVICE_TOKEN=room101_secure_token
FIRMWARE_VERSION=1.1.0
